<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900038090913-8irsauadtmcm66i1bctc7doumbb7h3e9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900038090913-8irsauadtmcm66i1bctc7doumbb7h3e9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>900038090913-n7tl3i8n9tv76if60mjoc9gh1b9on86s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDGaRBx8Tp0EUoi5WIuu7JAKq-DAnBm8OA</string>
	<key>GCM_SENDER_ID</key>
	<string>900038090913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cz2006.project</string>
	<key>PROJECT_ID</key>
	<string>cz2006-project-de265</string>
	<key>STORAGE_BUCKET</key>
	<string>cz2006-project-de265.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900038090913:ios:4620bf9a59c9d50ab390e0</string>
</dict>
</plist>